* {font-size: 18;}

.body {background-color: rgb(145, 206, 212);}

.table {
  width: 900; 
  height: 412; 
  margin-left: 216; 
  margin-right: 216; 
  margin-top: 25; 
  margin-bottom: 115;
  border-spacing: 0px;
  border-left: 1px solid rgb(42, 105, 118);
  border-right: 1px solid rgb(42, 105, 118);
  border-radius: 10px;
  border-bottom: none;
  border-top: none
}
#image {width: 60; height: 60; border-radius: 50%;}
.theadtr1 {
  height: 61; 
  text-align: center; 
  color: white; 
  font-size: 25; 
  background-color: rgb(50, 122, 129);
}
.theadtr2 {
  text-align: center;
  height: 38;
  color: rgb(42, 105, 118);
  background-color: rgb(218, 239, 241);
}
.tbodytr13 {
  background-color: white;
  color: rgb(42, 105, 118);
  font-weight: bold;
}
.tbodytr24 {
  background-color: rgb(237, 247, 248);
  color: rgb(42, 105, 118);
  font-weight: bold;
}
#tbodytr1 {text-align:center; height: 84;}
#tbodytr2 {text-align: center; height: 124;}
#tbodytr3 {text-align: center; height: 84;}
#tbodytr4 {text-align: center;}

#td5 {text-align: left;}
.td5width {width: 230;}
#th1 {border-top-left-radius: 10px; border-top-right-radius: 10px;}