.flex-container{
  background-color: rgb(0, 23, 79);
  height: 500px;
  display: flex;
}

.flex-item {
  background-color: rgb(255, 209, 0);
  width: 145px;
  height: 200px;
  margin: 10px;
  text-align: center;
  color: white;
  flex-grow: 1;
}

#a {
  /*flex-grow: 1;*/ 
  align-self: 
  flex-start;
}

#b {
  /*flex-grow: 1;
  flex-shrink: 5; */ 
  align-self: 
  center;
}

#c {
  /*flex-grow: 3;*/ 
  flex-basis: 650px; 
  align-self: flex-start;
}

#d {
  /*flex-grow: 1;*/ 
  align-self: flex-end;
}

h {
  font-size: 32px;
  background-color: white;
  color: rgb(0, 23, 79);
  box-shadow: 0 0 0 15px white; border-radius: 50%;
}