.body {margin-left: 410;
  margin-top: 115;
  width: 556;
  height: 368;
  border-style: solid;
  border-width: 12px;
  border-radius: 3;
  color:rgb(222, 174, 50);
  }

.table {
    width: 556; 
    height: 368; 
    text-align: center;
    color: black;
  }

#th {height: 46; font-size: 19; font-weight: normal}
#th1 {height: 46; font-size: 25; padding-right: 45; font-weight: normal}
#th2 {height: 46; font-size: 25; padding-left: 45; font-weight: normal}

.trhead {height: 40; font-weight: normal}

#td {width: 14.28%; font-weight: normal}

#gray {color: rgb(184, 180, 180);}

.trbody {height: 53;}

.decoration{
  margin-left: 14;
  width: 47px;
  line-height: 47px;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  color: white;
  border-color: rgb(255, 132, 152);
  background-color: rgb(255, 132, 152);
}
.decoration2{
  margin-left: 14;
  width: 47px;
  line-height: 47px;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  color: white;
  border:  solid (102, 179, 204);
  background-color:rgb(102, 179, 204);
  border-color: rgb(102, 179, 204); 
}
.decoration3{
  margin-left: 14;
  width: 47px;
  line-height: 47px;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  color: white;
  border-color:rgb(218, 218, 218);
  background-color:rgb(218, 218, 218);
}

