.flex-container{
  background-color: rgb(0, 23, 79);
  height: 550px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: center;
}

.flex-item {
  background-color: rgb(255, 209, 0);
  width: 120px;
  height: 250px;
  margin: 10px;
  text-align: center;
  color: white;
}

h {
  font-size: 32px;
  background-color: white;
  color: rgb(0, 23, 79);
  box-shadow: 0 0 0 15px white; border-radius: 50%;
}