.flex-container{
  background-color: rgb(0, 23, 79);
  height: 550px;
  width: 860px;
  display: flex;
  justify-content: space-evenly;
  /*flex-direction: row;
  flex-direction: row-reverse;
  flex-direction: column;*/
  flex-direction: column-reverse;
}

.flex-item {
  background-color: rgb(255, 209, 0);
  width: 200px;
  height: 400px;
  margin: 10px;
  text-align: center;
  color: white;
}

h {
  font-size: 32px;
  background-color: white;
  color: rgb(0, 23, 79);
  box-shadow: 0 0 0 15px white; border-radius: 50%;
}