.flex-container{
  background-color: rgb(0, 23, 79);
  height: 550px;
  width: 1200px;
  display: flex;
  /*justify-content: space-evenly;*/
  /*flex-direction: row;
  flex-direction: row-reverse;
  flex-direction: column;*/
  /*flex-direction: column-reverse;*/
  /*align-items: stretch;*/
  /*align-items: flex-start;*/
  /*align-items: center;*/
  /*align-items: baseline;*/
  align-items: flex-end;
}

.flex-item {
  background-color: rgb(255, 209, 0);
  width: 150px;
  height: 230px;
  margin: 10px;
  text-align: center;
  color: white;
}

#a {order: 3; flex-basis: 80px;}
#b {order: 4; flex-basis: 50px;}
#c {order: 1; flex-basis: 200px;}
#d {order: 2; flex-basis: 250px;}

h {
  font-size: 32px;
  background-color: white;
  color: rgb(0, 23, 79);
  box-shadow: 0 0 0 15px white; border-radius: 50%;
}