.body {
  background-color: rgb(130, 86, 201);
  background-image: linear-gradient(219deg, rgb(189, 31, 189), rgb(31, 85, 201) 100%)
}

.table {
  width: 870;
  height: 480;
  margin-top: 45;
  margin-left: 231.5;
  border-radius: 2%;
  border-spacing: 0px;
}

.tr1 {
  border:none;
  background-color: rgb(54, 48, 74);
  color: white;
  font-weight: normal;
}

#th1 {text-align: left; padding-left: 30; height: 45; border-top-left-radius: 10px;}
#th2 {text-align: left; padding-left: 10; width: 15%}
#th3 {text-align: left; padding-left: 10; width: 20%;}
#th4 {text-align: right;}
#th5 {text-align: right; padding-right: 20;}
#th6 {text-align: right; padding-right: 30; border-top-right-radius: 10px ;}

#td1 {text-align: left; padding-left: 30;}
#td2 {text-align: left; padding-left: 10; width: 10%;}
#td3 {text-align: left; padding-left: 10; width: 22%;}
#td4 {text-align: right; width: 15%;}
#td5 {text-align: right; width: 15%; padding-right: 20;}
#td6 {text-align: right; padding-right: 30;}

tr#trtbodyhover:hover {color: black; font-weight: bold;}


.trtbody {
  background-color: rgb(255, 255, 255); height: 35;
}

.trtbody1 {
  background-color: rgb(241, 241, 241);height: 35;
}